.fl{
	float: left;
}

.nm {
	margin-top: -194px;
}

.pb {
	padding-bottom: 6px;
}

.pr {
	padding-right: 10px;
}

.pl {
	padding-left: 10px;
}

.pt {
	padding-top: 6px;}

.nomove {
    width:1440px;
}