@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Questrial&display=swap');

*{font-family: 'Cabin', sans-serif;
font-family: 'Questrial', sans-serif;}

.grid {
    display: grid;
    grid: repeat(3, auto)/repeat(12, 1fr);
    grid-gap: 10px;}

/* Color Theme Swatches in Hex */
.clight1 { color: #F2F2F2; }
.clight2 { color: #D9D9D9; }
.clight4 { color: #BFBFBF; }
.clight5 { color: #A6A6A6; }
.clight6 { color: #8C8C8C; }

body{margin: 0%;
    background-color: #F2F2F2;}

header {
    text-align: center;; 
    padding: 5px;}

header p {
    color: black;
    margin: 5px;}

header h1 {
    /*position: fixed;
    left: 0px;
    font-size: 2em;*/
    font-size: 2.5em;
    margin: 20px;
    color: black;}

nav {
    /*position: fixed;
    top: 0px;
    right: 10px;
    text-align: right;*/
    margin-bottom: 16px;
    min-width: 100px;
    padding: 1px;
    text-align: center;}

nav li {
    /*display: block;
    margin-bottom: 30px;*/
    display: inline-block;
    padding-right: 20px;
    
}
nav li:last-child{
    padding-right: 0px;}

nav a {color: black; 
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 25px;
    border: 2px solid black;}




#Assignments {
    grid-column: 4/6;
    border-radius: 25px;
    background-color: white; 
    text-align: center;
}
#Exams {
    grid-column: 8/10;
    border-radius: 25px;
    background-color: white; 
    text-align: center;}
#Assignments a, #Exams a {color: black;}

#Images {
    grid-column: 6/8;
    border-radius: 25px;
    background-color: black;
    color: white; 
    text-align: center;}
#Images a {color: white;}

.imgcol {
    grid-column: 4/10;
}

.imgcon{
    width: 100%;
    height: auto;
}

#about{
    grid-column: 4/10;
}


footer {
    padding: 15px;
    margin-top: 25px;
    background-color: lightgray; 
    color: #0C090A; 
    text-align: left;}

footer a{color: black;
text-decoration: none;}